@font-face {
  font-family: Georgia;
  font-display: swap;
  src: url("../fonts/Georgia-Regular.woff2") format("woff2"), url("../fonts/Georgia-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Arial;
  font-display: swap;
  src: url("../fonts/Arial-Regular.woff2") format("woff2"), url("../fonts/Arial-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: times;
  font-display: swap;
  src: url("../fonts/times-new-roman.woff2") format("woff2"), url("../fonts/times-new-roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  padding: 0;
  margin: 0;
  font-size: inherit;
  list-style: none;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  white-space: nowrap;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: times;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  height: 100%;
  color: #545454;
  max-width: 1920px;
  margin: 0 auto;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-family: Georgia;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  color: #545454;
  letter-spacing: 1.6px;
}

.link {
  font-family: Georgia;
  display: inline-block;
  font-size: 17px;
  line-height: 1;
  padding: 18px 43px;
  background-color: #f1cdb3;
  border-radius: 25px;
  color: #292929;
  letter-spacing: 1.6px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.link:hover {
  background-color: #f9b687;
}

.link:active {
  -webkit-transform: translate(5px, 5px);
      -ms-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  background-color: #f1cdb3;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.header.shadow {
  background-color: rgb(111, 111, 111);
}

.header.shadow .header__container {
  padding-top: 15px;
}

.header__container {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 110px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: auto;
  padding-right: 50px;
  z-index: 10;
}

.header__logo img {
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__item {
  color: #cdcdcd;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-bottom: 3px solid transparent;
}

.menu__link {
  font-family: Arial;
  padding: 5px 5px;
}

.icon-menu {
  display: none;
}

.no-webp .hero {
  background-image: url("../img/bg.jpg"); }

.hero {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.hero__container {
  padding-top: 60px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__inner {
  margin: auto 0;
  padding-top: 40px;
}

.hero__title {
  max-width: 355px;
  font-size: 44px;
  color: #ffffff;
  margin-bottom: 45px;
}

.hero__text {
  font-family: Arial;
  max-width: 445px;
  color: #cdcdcd;
  margin-bottom: 45px;
}

.about {
  background-color: #fafafa;
  padding: 85px 0;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__img {
  max-width: 300px;
  margin-right: 115px;
}

.about__title {
  max-width: 315px;
  margin-bottom: 35px;
}

.about__text {
  max-width: 425px;
}

.about__text:not(:last-child) {
  margin-bottom: 35px;
}

.our-pets {
  padding: 80px 0 70px;
  background-color: #f6f6f6;
  text-align: center;
}

.our-pets__container {
  position: relative;
}

.our-pets__title {
  max-width: 400px;
  margin: 0 auto 80px;
}

.our-pets__slider {
  overflow: hidden;
  margin: 0 auto;
  max-width: 910px;
}

.our-pets__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 65px;
}

.our-pets__slide {
  padding: 0 0 30px;
  background-color: #fafafa;
  max-width: 270px;
  border-radius: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  -o-transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}

.our-pets__slide:hover {
  -webkit-box-shadow: 0px 2px 30.1px 4.9px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 30.1px 4.9px rgba(13, 13, 13, 0.04);
}

.our-pets__img {
  border-radius: 10px;
  margin-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.our-pets__name {
  font-family: Georgia;
  display: block;
  margin-bottom: 25px;
  text-align: center;
  font-size: 20px;
}

.our-pets__link {
  font-family: Georgia;
  font-size: 17px;
  background-color: transparent;
  padding: 15px 43px;
  border: 2px solid #f1cdb3;
  line-height: 1;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.our-pets__link:hover {
  background-color: #f1cdb3;
}

.our-pets .swiper-button-prev,
.our-pets .swiper-button-next {
  position: absolute;
  outline: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  bottom: 45%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.our-pets .swiper-button-prev:hover,
.our-pets .swiper-button-next:hover {
  background-color: #f1cdb3;
}

.our-pets .swiper-button-prev:active,
.our-pets .swiper-button-next:active {
  background-color: #ac8265;
}

.no-webp .our-pets .swiper-button-prev {
  background-image: url("../img/arrow-left.png"); }

.our-pets .swiper-button-prev {
  left: 1%;
}

.no-webp .our-pets .swiper-button-next {
  background-image: url("../img/arrow-right.png"); }

.our-pets .swiper-button-next {
  right: 1%;
}

.our-pets .swiper-slide {
  width: 370px;
}

.help {
  padding: 70px 0;
  background-color: #fafafa;
}

.help__title {
  max-width: 330px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 75px;
}

.help__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 55px;
  font-family: Georgia;
  text-align: center;
  letter-spacing: 1.6px;
  font-size: 20px;
}

.help__item {
  min-width: 150px;
  padding: 75px 10px 10px;
  background-position: top center;
  background-size: auto;
  background-repeat: no-repeat;
}

.donation {
  padding: 70px 0 85px;
  background-color: #f6f6f6;
}

.donation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donation__inner {
  max-width: 365px;
}

.donation__title {
  margin-bottom: 15px;
}

.donation__bank {
  display: block;
  font-family: Georgia;
  letter-spacing: 1.6px;
  margin-bottom: 10px;
}

.donation__card-number {
  font-family: times;
  display: inline-block;
  padding: 14px 15px 14px 60px;
  background-color: #f1cdb3;
  font-size: 20px;
  border-radius: 7px;
  letter-spacing: 1.6px;
  line-height: 1;
  color: #292929;
  position: relative;
  margin-bottom: 20px;
  white-space: nowrap;
}

.no-webp .donation__card-number::before {
  background-image: url("../img/donation-cart.png"); }

.donation__card-number::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 24px;
  left: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.donation__text {
  font-family: Arial;
  font-style: italic;
  font-size: 12px;
  color: #b2b2b2;
}

.donation__img {
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 90px;
  line-height: 1.5;
  max-width: 505px;
  min-width: 350px;
}

.no-webp .footer {
  background-image: url("../img/footer/footer-bg.jpg"); }

.footer {
  padding: 75px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__box {
  max-width: 305px;
}

.footer__box:not(:last-child) {
  margin-right: 140px;
}

.footer__title {
  color: #ffffff;
  margin-bottom: 45px;
}

.footer__mail,
.footer__phone,
.footer__address {
  font-size: 20px;
  font-style: normal;
  color: rgba(236, 200, 175, 0.8274509804);
  background-position: left center;
  background-repeat: no-repeat;
}

.footer__mail,
.footer__phone {
  padding: 5px 0 5px 60px;
  margin-bottom: 35px;
  display: inline-block;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__mail:hover,
.footer__phone:hover {
  border-bottom: 1px solid rgba(236, 200, 175, 0.8274509804);
}

.footer__address {
  padding: 5px 0 5px 47px;
  background-size: 26px 36px;
  line-height: 1.3;
  margin-bottom: 20px;
}

@media (min-width: 767px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item:not(:last-child) {
    margin-right: 30px;
  }

  .menu__item:hover {
    color: #ffffff;
    border-bottom: 3px solid #f1cdb3;
  }
}

@media (max-width: 992px) {
  .title {
    margin-bottom: 15px;
    font-size: 28px;
  }

  .about {
    padding: 30px 0;
  }

  .about__container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .about__img {
    margin-right: 20px;
  }

  .about__title {
    text-align: center;
  }

  .our-pets__slider {
    max-width: 555px;
  }

  .our-pets__img {
    max-width: 250px;
  }

  .help__box {
    gap: 35px;
  }

  .donation__img {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .title {
    margin: 0 auto;
    font-size: 24px;
  }

  .hero__title {
    text-align: start;
    margin: 0 0 45px;
  }

  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about__img {
    max-height: 300px;
    margin: 0;
  }

  .about__text:not(:last-child) {
    margin-bottom: 10px;
  }

  .about__text {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .our-pets {
    padding: 30px 0;
  }

  .our-pets__title {
    margin-bottom: 30px;
  }

  .help {
    padding: 30px 0;
  }

  .help__title {
    margin-bottom: 15px;
  }

  .help__box {
    gap: 10px;
  }

  .donation {
    padding: 30px 0;
  }

  .donation__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .donation__inner {
    max-width: 100%;
  }

  .donation__title {
    text-align: center;
  }

  .donation__bank {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-size: 14px;
    margin-right: 10px;
  }

  .donation__card-number {
    letter-spacing: 1px;
    font-size: 18px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .donation__text {
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
  }

  .donation__img {
    display: none;
  }

  .footer {
    padding: 30px 0;
  }

  .footer__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }

  .footer__box:not(:last-child) {
    margin-right: 0;
  }

  .footer__title {
    margin-bottom: 20px;
  }

  .footer__mail,
  .footer__phone {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__list {
    padding: 100px 10px;
  }

  .menu__item {
    text-align: center;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .menu__link {
    padding: 5px 0;
    display: block;
    font-size: 24px;
  }

  .icon-menu {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #cdcdcd;
  }

  .icon-menu::before,
  .icon-menu::after {
    content: "";
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .icon-menu._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .icon-menu._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .icon-menu._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }

  .our-pets__slider {
    max-width: 250px;
  }

  .our-pets__wrapper {
    margin-bottom: 30px;
  }

  .our-pets .swiper-button-prev {
    left: 20px;
  }

  .our-pets .swiper-button-next {
    right: 20px;
  }
}

.webp .hero { background-image: url(../img/bg.webp); }

.webp .our-pets .swiper-button-prev { background-image: url(../img/arrow-left.webp); }

.webp .our-pets .swiper-button-next { background-image: url(../img/arrow-right.webp); }

.webp .donation__card-number::before { background-image: url(../img/donation-cart.webp); }

.webp .footer { background-image: url(../img/footer/footer-bg.webp); }